@charset "UTF-8";
#lastorigin_unit {
  margin-top: 20px;
}
#lastorigin_unit .build-time {
  font-size: 10px;
  color: gray;
  float: right;
}
#lastorigin_unit .build-time::before {
  content: "ビルド日時: ";
  font-size: 10px;
  color: gray;
}
#lastorigin_unit .range::after {
  background-color: gray;
  border-radius: 50%;
  color: white;
  content: attr(range);
  display: inline-block;
  font-family: Meiryo;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin-left: 10px;
  text-align: center;
  width: 20px;
}
#lastorigin_unit table.skill-table tbody td {
  border-width: 0;
}
#lastorigin_unit ul.float {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}
#lastorigin_unit ul.float li {
  float: left;
  margin-right: 30px;
}
#lastorigin_unit .unit-icon {
  width: 50px;
  height: 50px;
  margin-left: 1px;
  margin-right: 1px;
  background-image: url("https://1.bp.blogspot.com/-KERayTgkb8M/YGL0GVLx4LI/AAAAAAAIZUg/irQarwOVn2shtJHs-M7gciRNDzx8Dr3cgCLcBGAsYHQ/s0/character_icon.png");
  background-repeat: no-repeat;
  border-radius: 4px;
}
#lastorigin_unit .icon-column {
  padding-left: 0;
  padding-right: 0;
}
#lastorigin_unit .promotion.ss::after {
  content: "昇級 SS";
  background-color: #fceb30;
  margin-left: 10px;
  padding: 3px;
  border-radius: 3px;
  font-size: 0.8em;
  vertical-align: middle;
}
#lastorigin_unit .promotion.s::after {
  content: "昇級 S";
  background-color: #eca508;
  margin-left: 10px;
  padding: 3px;
  border-radius: 3px;
  font-size: 0.8em;
  vertical-align: middle;
}
#lastorigin_unit .promotion.a::after {
  content: "昇級 A";
  background-color: #11ddff;
  margin-left: 10px;
  padding: 3px;
  border-radius: 3px;
  font-size: 0.8em;
  vertical-align: middle;
}
#lastorigin_unit .rank::after {
  border-radius: 50%;
  box-shadow: 0px 0px 3px gray;
  color: white;
  display: block;
  font-family: Meiryo;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  text-align: center;
  width: 30px;
}
#lastorigin_unit .rank.SS::after {
  content: "SS";
  background-color: #fceb30;
  color: darkorange;
}
#lastorigin_unit .rank.S::after {
  content: "S";
  background-color: #eca508;
}
#lastorigin_unit .rank.A::after {
  content: "A";
  background-color: #11ddff;
}
#lastorigin_unit .rank.B::after {
  content: "B";
  background-color: #24a914;
}
#lastorigin_unit .type,
#lastorigin_unit .time {
  font-size: 11px;
  text-align: center;
  margin-top: 5px;
}
#lastorigin_unit .skill-tags {
  background: #eee;
  border-radius: 4px;
  border: 2px solid #ddd;
  margin-top: 5px;
  padding: 6px;
  position: relative;
  box-shadow: 0px 2px 3px gray;
}
#lastorigin_unit .skill-tags:after, #lastorigin_unit .skill-tags:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#lastorigin_unit .skill-tags:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #eee;
  border-width: 10px;
  margin-left: -10px;
}
#lastorigin_unit .skill-tags:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #ddd;
  border-width: 13px;
  margin-left: -13px;
}
#lastorigin_unit .tags.has-addons {
  margin-bottom: 0;
  margin-right: 10px;
}
body.mobile #lastorigin_unit table.skill-table td.skill-name {
  justify-content: right;
}
body.mobile #lastorigin_unit .b-table .table-wrapper.has-mobile-cards .skill-tags:after, body.mobile #lastorigin_unit .b-table .table-wrapper.has-mobile-cards .skill-tags:before {
  left: auto;
  right: 10%;
}
body.mobile #lastorigin_unit .b-table .table-wrapper.has-mobile-cards .skill-tags:before {
  margin-right: -3px;
}
body.mobile #lastorigin_unit .b-table .table-wrapper.has-mobile-cards table.skill-table tr {
  box-shadow: none;
  margin-bottom: 0;
}
body.mobile #lastorigin_unit .b-table .table-wrapper.has-mobile-cards tr:not(.detail):not(.is-empty):not(.table-footer) td::before {
  white-space: nowrap;
}
